* {
    margin: 0;
    padding: 0;
    cursor: none;
}

body {
    overflow: hidden;
}

.main {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.px {
    content: '';
    position: absolute;
    border-radius: 100%;
    background-color: wheat;
    box-shadow: 0px 0px 200px 100px #ffff001f;
    transition: box-shadow 1s ease-in-out;;
    width: 20px;
    height: 20px;
    border-collapse: collapse;
}

.dot {
    background-color: rgba(255, 255, 255, 0.6);
    width: 5px;
    height: 5px;
    border-radius: 100%;
    position: absolute;
    mix-blend-mode: soft-light;
    animation-iteration-count: infinite;
}

@keyframes move1 {
    0% {
        margin-left: 0%;
        margin-top: 0%;
    }

    50% {
        margin-left: 4%;
        margin-top: -3%;
    }

    100% {
        margin-left: 0%;
        margin-top: 0%;
    }
}

@keyframes move2 {
    0% {
        margin-left: 0%;
        margin-top: 0%;
    }

    50% {
        margin-left: -4%;
        margin-top: 3%;
    }

    100% {
        margin-left: 0%;
        margin-top: 0%;
    }
}

@keyframes move3 {
    0% {
        margin-left: 0%;
        margin-top: 0%;
    }

    50% {
        margin-left: 4%;
        margin-top: 3%;
    }

    100% {
        margin-left: 0%;
        margin-top: 0%;
    }
}

@keyframes move4 {
    0% {
        margin-left: 0%;
        margin-top: 0%;
    }

    50% {
        margin-left: -3%;
        margin-top: -4%;
    }

    100% {
        margin-left: 0%;
        margin-top: 0%;
    }
}

@keyframes move5 {
    0% {
        margin-left: 0%;
        margin-top: 0%;
    }

    50% {
        margin-left: -2%;
        margin-top: 4%;
    }

    100% {
        margin-left: 0%;
        margin-top: 0%;
    }
}