@font-face {
    font-family: octo;
    src: url('assets/October_Crow.ttf');
}

* {
    margin: 0;
    padding: 0;
    cursor: none;
    user-select: none;
    font-family: octo;
    overflow: hidden;
}

body {
    overflow: hidden;
}

.main {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.mouse {
    content: '';
    position: absolute;
    border-radius: 100%;
    background-image: url('assets/lantern.png');
    background-size: cover;
    transition: box-shadow 1s ease-in-out;
    width: 20px;
    height: 20px;
    border-collapse: collapse;
}

.dot {
    background-color: rgba(255, 255, 255, 0.6);
    width: 5px;
    height: 5px;
    border-radius: 100%;
    position: absolute;
    mix-blend-mode: soft-light;
    animation-iteration-count: infinite;
}

.clock {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22rem;
    z-index: 20;
    mix-blend-mode: soft-light;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow-wrap: anywhere;
}

@media screen and (max-width: 865px) {
    .clock {
        font-size: 9rem;
        width: 80%;
        transform: translate(-50%, -65%);
    }
}

@keyframes move1 {
    0% {
        margin-left: 0%;
        margin-top: 0%;
    }

    50% {
        margin-left: 4%;
        margin-top: -3%;
    }

    100% {
        margin-left: 0%;
        margin-top: 0%;
    }
}

@keyframes move2 {
    0% {
        margin-left: 0%;
        margin-top: 0%;
    }

    50% {
        margin-left: -4%;
        margin-top: 3%;
    }

    100% {
        margin-left: 0%;
        margin-top: 0%;
    }
}

@keyframes move3 {
    0% {
        margin-left: 0%;
        margin-top: 0%;
    }

    50% {
        margin-left: 4%;
        margin-top: 3%;
    }

    100% {
        margin-left: 0%;
        margin-top: 0%;
    }
}

@keyframes move4 {
    0% {
        margin-left: 0%;
        margin-top: 0%;
    }

    50% {
        margin-left: -3%;
        margin-top: -4%;
    }

    100% {
        margin-left: 0%;
        margin-top: 0%;
    }
}

@keyframes move5 {
    0% {
        margin-left: 0%;
        margin-top: 0%;
    }

    50% {
        margin-left: -2%;
        margin-top: 4%;
    }

    100% {
        margin-left: 0%;
        margin-top: 0%;
    }
}